{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "sourceMap": true,
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
